@use 'variaveis';

.atracoes {
    padding: 80px 20px; // Espaço nas laterais

    &--artista {
        background-image: linear-gradient(variaveis.$blue4, variaveis.$blue3);
    }

    &--comidas {
        background-image: linear-gradient(variaveis.$blue3, variaveis.$blue2);
    }

    &--local {
        background-image: linear-gradient(variaveis.$blue2, variaveis.$blue1);
    }

    &--agradecimento {
        background-image: linear-gradient(variaveis.$blue1, variaveis.$blue1);
    }

    &--image-left {
        .container {
            flex-direction: row-reverse;
        }
    }

    .container {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    &__detalhes {
        &__title {
            margin-bottom: 20px;
            color: #fff;
            font-size: 28px;
        }

        &__descricao {
            color: #fff;
            font-size: 18px;
            line-height: 1.5;

            &__final {
                width: 400px;
                align-items: center;
                color: #fff;
                font-size: 16px;
            }
        }
    }

    &__image {
        width: 360px;
    }

    @media (max-width: 640px) {
        padding: 40px 15px; 

        .container {
            display: block;
            margin-left: 0;
            width: 100%;
        }

        &__detalhes {
            &__title {
                font-size: 24px;
            }

            &__descricao {
                font-size: 16px;

                &__final {
                    width: 100%;
                    font-size: 14px;
                }
            }
        }

        &__image {
            
            width: 100%;
            max-width: 300px;
            margin: 0 auto;
            display: block;
            padding-top: 20px;
        }
    }
}
